<footer>
    <div class="container">
        <div class="footer-flex">
            <div>
                &copy; 2006&mdash;{{ now().year }} ООО &laquo;ОлмаСтрой&raquo;<br>
                ИНН 3917031781 / КПП 391701001 / ОГРН 1063917035632 / ОКПО 95727199<br>
                <span style="font-size: 0.8rem; opacity: 0.5;">г. Калининград, ул. Горького, 81А, ОЦ &laquo;Агат&raquo;, оф. 405-412</span>
            </div>
            <div style="text-align: right;">
                <a href="mailto:info@olmastroy.ru">info@olmastroy.ru</a><br>
                <a href="tel:+74012311668">+7 (4012) 311-668</a><br>
                <span style="font-size: 0.8rem; opacity: 0.5;">Отдел кадров: <a href="tel:+74012311669">+7 (4012) 311-669</a></span>
            </div>
        </div>
    </div>
</footer>
