<div class="ticker-wrap" aria-hidden="true">
    <div class="ticker">
        <span class="ticker-item">ГАЗПРОМ</span>
        <span class="ticker-item highlight">СИЛА СИБИРИ</span>
        <span class="ticker-item">ЯМАЛ</span>
        <span class="ticker-item highlight">БАЙДАРАЦКАЯ</span>
        <span class="ticker-item">СЕВЕРО-ЕВРОПЕЙСКИЙ ГАЗОПРОВОД</span>
        <span class="ticker-item">ГАЗПРОМ</span>
        <span class="ticker-item highlight">СИЛА СИБИРИ</span>
        <span class="ticker-item">ЯМАЛ</span>
        <span class="ticker-item highlight">БАЙДАРАЦКАЯ</span>
        <span class="ticker-item">СЕВЕРО-ЕВРОПЕЙСКИЙ ГАЗОПРОВОД</span>
    </div>
</div>
