{% extends 'admin/base.html' %}

{% block head_css %}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-custom.css') }}">
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ url_for('admin.index') }}">ОлмаСтрой Admin</a>
{% endblock %}
